.button:checked ~ aside  .arrow-open{
    display: none;
   }

.button:checked ~ .aside__nav-list,.aside__nav-listItem{
    height: 46px;              
    width: 100%;
}

.button:checked ~ img,
    a,
    p  
    {display: inline-block;
    padding: 0;}
   

    .button:checked ~ .aside__nav{    
        .divider{
            display: none;    
           }
         .arrow-open{
            display: none;
         }  


         .dashboard img{
            margin-bottom: 20px;
            
           }
           

        .aside__nav-listItem{
            width: 220px;            
            display: inline-block;
            
            & :hover{
                background-color: #9E8CFC;                     
            
                
            }
        } 
    
    p{
        visibility: visible;
        display: inline-block;
        
    }
    
}    
    


.button:not(:checked) ~ .aside__nav  {
width: 86px;          
margin: 0;



p,
h1,
h2,
h3,            
.logo-name,
.arrow-close{
    display: none;
}

.divider{
    display: block;
    //margin-top: 15px;
}

.aside__nav-listItem{
    width: 100%;
    height: 46px; 

    &:hover{
        background-color: #9E8CFC;
} 
}           

}

